* text eol=lf
*.neon linguist-language=YAML

/.docker        export-ignore
/.github        export-ignore
/.mcp           export-ignore
/.phive         export-ignore
/.scripts       export-ignore
/tools          export-ignore
/tests          export-ignore
/var            export-ignore
/vendor             export-ignore
/.editorconfig      export-ignore
/.git*              export-ignore
/compose.yaml       export-ignore
/composer.lock      export-ignore
